<section id="section-lista-atleta">
    <h2>Lista Atletas</h2>

    @for(elem of listaAtletas(); track elem.idAtleta) {
        <div class="atleta">

            <span class="span-dados-atleta">
                {{elem.idAtleta}} -
                {{elem.nomeAtleta}} -
                {{elem.cpfAtleta}} -
                {{elem.cidadeAtleta}} -
                {{elem.ufAtleta}}
            </span>

            <span class="span-link-atletas">
                <a class="link-alterar" (click)="caregaDadosAtletasForm(elem)">A</a>
                <a class="atleta-link-excluir" (click)="excluir(elem.idAtleta)">E</a>
            </span>

        </div>
    } @empty {
        <div class="div-item-pessoa">
            NENHUM REGISTRO NA LISTA
        </div>
    }
</section>