<section id="section-lista-atleta">

    <h2>Lista de Atletas</h2>

    <div id="lista-cards">

        @for (elem of listaAtletas(); track elem.idAtleta) {

            <div class="card-atleta">

                <div class="dados-atleta">

                    <h3>{{ elem.nomeAtleta }}</h3>

                    <p><strong>CPF:</strong> {{ elem.cpfAtleta }}</p>

                    <p><strong>Sexo:</strong> {{ elem.sexoAtleta }}</p>

                    <p><strong>CEP:</strong> {{ elem.cepAtleta }}</p>

                    <p>
                        <strong>Endereço:</strong>
                        {{ elem.ruaAtleta }},
                        {{ elem.bairroAtleta }}
                    </p>

                    <p>
                        <strong>Cidade:</strong>
                        {{ elem.cidadeAtleta }} - {{ elem.ufAtleta }}
                    </p>

                </div>

                <div class="botoes-atleta">

                    <button
                        type="button"
                        class="btn-editar"
                        (click)="caregaDadosAtletasForm(elem)">
                        Editar
                    </button>

                    <button
                        type="button"
                        class="btn-excluir"
                        (click)="excluir(elem.idAtleta)">
                        Excluir
                    </button>

                </div>

            </div>

        } @empty {

            <div class="div-item-pessoa">
                NENHUM ATLETA CADASTRADO
            </div>

        }

    </div>

</section>